<nav class="navbar navbar-default navitc" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img src="images/ITClogo.jpg" width="160px;"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav navbar-right">
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">MERCHANDISES</a></li>
                <li><a href="#">CONTACT</a></li>
            </div>
        </div>
    </div>
</nav>