// Basic widths
$width-small: 400px;
$width-medium: 750px;
$width-large: 1200px;
$width-exlarge: 1920px;

// Fonts
$opensans: "Open Sans", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
$ubuntumono: "Ubuntu Mono", sans-serif;
